* {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 100;
    font-family: sans-serif;
}

body {
    background-color: #2d2d30;
}

#MenuBar {
    padding: 10px;
}

    #MenuBar i {
        font-size: 24px;
        color: #c7c7c7;
        padding: 3px;
    }

        #MenuBar i:first-of-type:hover {
            color: limegreen;
        }

        #MenuBar i:last-of-type:hover {
            color: rgb(224,78,78);
        }

.select2 {
    float: left !important;
    width: 200px !important;
}

#save-default {
    display: block;
    background-color: white;
    color: #444;
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}

    #save-default:hover {
        background-color: #007acc;
        color: white;
    }

.menubtns {
    position: relative;
    float: left;
    margin-left: 15px;
}

    .menubtns:hover {
        cursor: pointer;
    }

#sbname {
    position: relative;
    float: right;
    color: white;
    font-size: 24px;
    margin-right: 20px;
}

.storyboard {
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    background-color: #007acc;
    border-radius: 10px;
    padding: 10px;
}

.scene {
    position: relative;
    display: block;
    float: left;
    background-color: #2d2d30;
    border-radius: 10px;
    padding: 14px 5px 5px 5px;
    margin: 5px;
}

.shot {
    position: relative;
    display: block;
    float: left;
    background-color: #007acc;
    border-radius: 5px;
    padding: 13px 5px 5px 5px;
    margin: 5px;
}

.panel {
    position: relative;
    display: block;
    float: left;
    background-color: #2d2d30;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px 10px 10px 10px;
    margin: 5px;
}

.image {
    position: relative;
    float: left;
    height: 281px;
    width: 500px;
}

.move {
    position: absolute;
    top: 3px;
    left: 15px;
    color: #c7c7c7;
}

    .move:hover {
        color: #2d2d30;
        cursor: move;
    }

.add {
    position: absolute;
    top: 3px;
    left: 35px;
    color: #c7c7c7;
}

    .add:hover {
        color: limegreen;
        cursor: pointer;
    }

.delete {
    position: absolute;
    top: 3px;
    left: 53px;
    color: #c7c7c7;
}

    .delete:hover {
        color: rgb(224,78,78);
        cursor: pointer;
    }

.edit {
    position: absolute;
    top: 4px;
    left: 35px;
    color: #c7c7c7;
}

    .edit:hover {
        color: white;
        cursor: pointer;
    }

.blank {
    position: relative;
    display: block;
    float: left;
    background-color: black;
    border-radius: 5px;
    border-style: dashed inset;
    border-color: white;
    padding: 20px 10px 10px 10px;
    margin: 5px;
}

.blank_panel {
    background: rgba(0,0,0,0.4);
    display: block;
    margin: 3px;
    height: 200px;
    width: 300px;
    float: left;
    border-radius: 5px;
}

.blank_shot {
    background: rgba(0,0,0,0.4);
    display: block;
    margin: 3px;
    height: 200px;
    width: 300px;
    float: left;
    border-radius: 5px;
}

.blank_scene {
    background: rgba(0,0,0,0.4);
    display: block;
    margin: 3px;
    height: 200px;
    width: 300px;
    float: left;
    border-radius: 5px;
}
/* From Harmony by Mrdoobs for drawing */
select {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0px;
}

.gui {
    color: #ccc;
    width: 280px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    cursor: default;
}

.button {
    padding: 2px;
    cursor: pointer;
}

.key {
    padding: 0px 8px;
    margin-left: 1px;
    background-color: #eee;
}

/* Test data */
#canvas_bg {
    position:absolute;
    top:0px;
    left: 0px;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.6);
}

#canvas {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:white;
}

.menu_bg {
    position:absolute;
    height:1152px;
    width:25px;
    background-color:#3e3e42;
}